{% extends "master.html" %}
{% load static %}

{% if liste %}
  {% block title %}
    <h3>Call of roll</h3>
  {% endblock %}
  {% block content %}
   <form method="POST">
    {% csrf_token %}
    <div class="container">
      <h4>Select date and check if student is missing</h4>
      <label>Date :</label>
      <input id="date" type="date" name="date" value="jj/mm/aaaa">
      {% for student in liste %}
        <div class="row">
          <div class = "col">
            <input type="checkbox" id="{{student.id }}" name="{{student.id }}" value=unchecked>
            <label for="{{student.id }}">{{student.last_name}} {{student.first_name}} </label>
          </div>
        </div>
      {% endfor %}
      <button class="alert alert-success" type='submit' name="submit" value="submitSend">
          Submit
      </button>
    </div>
  </form>
  {% endblock %}
{% else %}
  <p> No cursus to show .</p>
{% endif %}
