{% extends "master.html" %}
{% load static %}

{% if liste%}
  {% block title %}
    <h3>List of call</h3>
  {% endblock %}

  {% block content %}
    <div class="container">
      <div class="row">
          <div class = "col-sm-3">
            <a href="all">ALL</a>
          </div>
        </div>
      {% for cursus in liste %}
        <div class="row">
          <div class = "col-sm-3">
            <a href="{{ cursus.id }}">{{cursus.name}}</a>
          </div>
        </div>
        
      {% endfor %}
      <div>
      <div class="container">
        <div class="container">
          <div class="row">
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% else %}
  <p> No cursus to show .</p>
{% endif %}
